.TabelaComBusca {
 max-height: 58%;  
}
.search-box {
  margin-bottom: 20px;
}

.tabelaPadrao {
  max-height: 58%;
  overflow-y: auto;

}
.table-dark {
  
  --bs-table-bg: #f26522 !important;
  --bs-table-border-color: #f26522 !important;
  border-radius: 16px !important;
}
.table {
  --bs-table-hover-bg: #f264223b !important;
}
